body{
    font-family: 'Mukta';
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

 a:hover {
    color: #e0e0e0;
  }

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}

.nav-titles{
    font-size: 15px;
}

.flashes h4{
    line-height: 2;
}

.btn-small{
    margin-top: 10px;
}

.function-btn{
    font-size: 15px;
    margin: 5px;
}

body{
    background-image: url("https://images.unsplash.com/photo-1451337516015-6b6e9a44a8a3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.flashes h4 {
    margin: auto;
    margin-top: 45px;
    line-height: 3.5;
    font-size: 30px;
    color: white;
    width: 50%;  
}

.footer-colour{
    background-color: #43a047;
}

.fab{
    font-size: 25px;
}

.brand-logo-footer{
    font-size: 25px;
    color: #ffffff;
}

.footer-copyright{
    background-color: #1b5e20;
}

ul.footer-list li{
    display: inline;
    margin: 12px;
}

.card-title{
    text-align: center;
    margin-top: 5px;
}

.reveal-heading{
    font-size: 25px;
}

#label-hike{
    color: black;
}

@media only screen and (max-width: 600px) {
     .function-btn {
         font-size: 0px;
     }
    }
  


  
