body{
    font-family: 'Mukta';
}

.brand-logo{
    margin-left: 20px;
}

 a:hover {
    color: #e0e0e0;
  }

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}

.nav-titles{
    font-size: 15px;
}

flashes h4{
    line-height: 2;
}

.btn-small{
    margin: 5px;
}

.function-btn{
    font-size: 15px;
    margin: 5px;
}

