{% extends "base.html" %}
{% block content %}

<h3 class="light-green-text text-darken-4 centre-align">Add a Hike</h3>

<!--hike name-->
<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('add_hike')}}">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-hiking prefix light-green-text text-darken-4"></i>
                <input id="hike_name" name="hike_name" minlength="5" maxlength="100" type="text" class="validate"
                    required>
                <label for="hike_name">Hike Name</label>
            </div>
        </div>
        <!--county name-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-location-arrow prefix light-green-text text-darken-4"></i>
                <input id="county_name" name="county_name" minlength="3" maxlength="30" type="tel" class="validate"
                    required>
                <label for="county_name">County Name</label>
            </div>
        </div>
        <!--hike distance-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-ruler prefix light-green-text text-darken-4"></i>
                <input id="hike_distance" name="hike_distance" minlength="1" maxlength="100" type="number"
                    class="validate" required>
                <label for="hike_distance">Distance in km</label>
            </div>
        </div>
        <!--hike difficulty level-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-shoe-prints prefix light-green-text text-darken-4"></i>
                <select id="difficulty_level" name="difficulty_level" required>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Easy</option>
                    <option value="2">Moderate</option>
                    <option value="3">Streneous</option>
                </select>
                <label for="difficulty_level">Difficulty Level</label>
            </div>
        </div>
        <!--hike details optional-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-green-text text-darken-4"></i>
                <textarea id="hike_details" name="hike_details" minlength="5" maxlenght="200"
                    class="materialize-textarea validate"></textarea>
                <label for="hike_details">Hike Details</label>
            </div>
        </div>
        <!--hike image-->
        <div class="row">
            <div class="input-field col s12">
                <i class="far fa-image prefix prefix light-green-text text-darken-4"></i>
                <input id="hike_image_url" name="hike_image_url" type="text" class="validate" minlength="5"
                    maxlength="150"
                    pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\%$&'\(\)\*\+,;=.]+$" required>
                <label for="hike_image_url">Hike Image</label>
                <div class="helper-text" data-error="Please insert Valid URL Link">Valid URL Link</div>
            </div>
        </div>
        <!--created by-->
        <!--<div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user prefix light-green-text text-darken-4"></i>
                <input id="created_by" name="created_by" minlength="5" maxlength="100" type="text" class="validate"
                    required>
                <label for="created_by">Your Name</label>
            </div>
        </div>-->
        <!--submit button-->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large green darken-1 text-shadow">
                    Add Hike <i class="fas fa-plus-square right"></i>
            </div>
        </div>
    </form>
</div>

{% endblock %}