{% extends "base.html" %}
{% block content %}

<h3 class="light-green-text text-darken-4 centre-align">All Hikes</h3>

<div class="row">
    {% for hike in hikes %}
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src="{{ hike.hike_image_url }}" alt="hike image">
            </div>
            <div class="card-title"><strong>{{ hike.hike_name }} ,
                    {{ hike.county_name }}</strong></div>
            <div class="card-content">
                <p><strong>Hike details:</strong> {{ hike.hike_details }}</p>
                <p><strong>Distance:</strong> {{ hike.hike_distance }}</p>
                <p><strong>Difficulty:</strong> {{ hike.difficulty_level }}</p>
                <p class="centre"><em> Created by:</em> {{ hike.created_by }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}