<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hike Manager</title>
</head>
<body>
    {% for hike in hikes %}
        {{hike.hike_name}}<br>
        {{hike.county_name}}<br>
        {{hike.hike_distance}}<br>
        {{hike.difficulty_level}}<br>
        {{hike.hike_details}}<br>
        {{hike.hike_image_url}}<br>
        {{hike.created_by}}
    {% endfor %}
</body>
</html>